{% extends "layout.html.jinja" %}
{% block header %}
    Sistema Interno de Administración
    <a href="{{ url_for('admin.index') }}" class="btn btn-info">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        Configuración
    </a>
{% endblock %}
{% block menu %}
<div class="list-group">
    <a href="{{ url_for('restaurar.index') }}" class="list-group-item">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        Restaurar Bases de Datos
    </a>
</div>
{% endblock %}
{% block content %}
    {% include 'messages.html.jinja' %}
{% endblock %}
