<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Base de Datos para restaurar</title>
        <!-- Latest compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/app.css') }}">
        <!-- Latest compiled and minified JavaScript -->
        <script
            src="https://code.jquery.com/jquery-2.2.3.min.js"
            integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="
            crossorigin="anonymous">
        </script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
        </script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        {% if current_user.admin %}
                            <a href="{{ url_for('admin.index') }}" class="navbar-brand">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                Configuración
                            </a>
                        {% endif %}
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                {% if current_user.is_authenticated %}
                                    <a
                                        href="#"
                                        class="dropdown-toggle"
                                        data-toggle="dropdown"
                                        role="button"
                                        aria-haspopup="true"
                                        aria-expanded="false">
                                        {{ current_user.name }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ url_for('auth.change_pass') }}">Cambiar Password</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ url_for('auth.logout') }}">Salir</a></li>
                                    </ul>
                                {% else %}
                                    <a href="{{ url_for('auth.login')}}">Ingresar</a>
                                {% endif %}

                            </li>
                        </ul>
                    </div>
                </div><!-- /.container-fluid -->
            </nav>
            <div class="page-header">
                <h1>{% block header %} {% endblock %}</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% block large_content %}{% endblock large_content %}
                </div>
            </div>
            <div class="row contenido">
                <div class="col-md-3">
                    {% block menu %}{% endblock menu %}
                </div>
                <div class="col-md-3">
                    {% block content %}{% endblock content %}
                </div>
                <div class="col-md-6">
                    {% block result %}{% endblock result %}
                </div>
            </div>
        </div>
    </body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <a class="logo" href="http://www.digio.com.ar">
                        <span class="h5">Digio S.R.L</span>
                    </a>
                </div>
                <div class="col-md-4">
                    <h4>Datos del sistema</h4>
                    <p class="small">
                        Versión: {{ config['VERSION'] }} &copy; 2017<br>
                        <a href="http://www.digio.com.ar" target="_blank">Desarrollo por: Digio S.R.L</a><br>
                        Resolución: optimizado para 1024x768 o superior.<br>
                        <a href="http://getbootstrap.com/getting-started/#support-browsers" target="_blank">Navegadores soportados</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</html>
