{% extends "main.html.jinja" %}
{% block header %}{{ super() }} <h2>Datos de Accesos</h2>{% endblock %}
{% block menu %}{{ super() }}{% endblock %}
{% block content %}
    {% include 'form_errors.html.jinja' %}
    {% include 'messages.html.jinja' %}
    <div class="list-group">
        {% for acceso in accesos %}
        <a href="{{ url_for('admin.accesos_edit', id_acceso=acceso.id) }}" class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            {{ acceso.name }}
        </a>
        {% endfor %}
    </div>
{% endblock %}
{% block result %}
<a href="{{ url_for('admin.accesos_create') }}" class="btn btn-success">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    Nuevo
</a>
{% endblock %}
