{% extends "main.html.jinja" %}
{% block header %}{{ super() }}{% endblock %}
{% block menu %}{{ super() }}{% endblock %}
{% block content %}
    {% include 'form_errors.html.jinja' %}
    {% include 'messages.html.jinja' %}
    <div class="list-group">
        {% for servidor in servidores %}
        <a href="{{ url_for('admin.servidores_edit', id_servidor=servidor.id) }}" class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            {{ servidor.name }}
        </a>
        {% endfor %}
    </div>
{% endblock %}
{% block result %}
    <a href="{{ url_for('admin.servidores_create') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Nuevo
    </a>
{% endblock %}
