{% extends "restaurar/check.html.jinja" %}
{% block menu %}
    {{ super() }}
{% endblock menu %}
{% block content %}
    {{ super() }}
{% endblock content %}
{% block result %}
<div {% if pasos|length == 1 %} class="panel panel-danger"{% else %}
    class="panel panel-success" {% endif %}>
    <div class="panel-heading">Resumen</div>
    <div class="panel-body">
        <ol>
            {% for paso in pasos %}
            <li>{{ paso }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock result %}
