{% extends "versiones/index.html.jinja" %}
{% block header %}
    {{ super() }}
    <h2>Version: {{ folder.name }}</h2>
{% endblock %}
{% block menu %}
    <div class="row contenido">
        <div class="col-md-2">
            <a class="btn btn-primary" href="{{ url_for('versiones.index') }}">
                Volver
            </a>
        </div>
    </div>
    <h3>Archivos</h3>
    <div class="list-group">
        {% for file in files %}
        <a href="{{ url_for('versiones.file', file_id=file.id) }}" class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            {{ file.name }} <small>[{{ file.filesize|filesizeformat }}]</small>
        </a>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
    {% if current_user.admin %}
        {% include 'form_errors.html.jinja' %}
        {% include 'messages.html.jinja' %}
        <form
            class="form"
            action="{{ url_for('versiones.upload_file', folder_id=folder_id) }}"
            method="post"
            enctype="multipart/form-data">
            <div>
                <label for="name">Nombre del archivo a subir</label>
                <input type="text" name="name" value="">
                <span class="btn btn-info fileinput-button" id="button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Nuevo archivo</span>
                    <input id="fileupload" type="file" name="file">
                </span><br>
                <div class="progress">
                    <div
                        class="progress-bar progress-bar-success progress-bar-striped"
                        role="progressbar"
                        aria-valuemin="0"
                        aria-valuemax="100">
                    </div>
                </div>
            </div>
        </form>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#fileupload').fileupload({
                    dataType: 'json',
                    done: function (e, data) {
                        if (data.result['files'][0].error) {
                            $('.progress').after(
                                '<p>' + data.result['files'][0].error + '</p>'
                            );
                        } else {
                            location.reload(true);
                        }
                    },
                    progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        $('.progress-bar').css(
                            'width',
                            progress + '%'
                        );
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
{% block result %}
    {% if current_user.admin %}
        <a class="btn btn-success" href="{{ url_for('versiones.set_latest', folder_id=folder_id) }}">
            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            Última versión
        </a>
        <a class="btn btn-danger" href="{{ url_for('versiones.delete_folder', folder_id=folder_id) }}">
            <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
            Eliminar versión
        </a>
    {% endif %}
{% endblock %}
