{% extends "versiones/index.html.jinja" %}
{% block header %}
    {{ super() }}
    <h2>Version: {{ folder }}</h2>
{% endblock %}
{% block menu %}
    {{ super() }}
    {% include 'form_errors.html.jinja' %}
    {% include 'messages.html.jinja' %}
    <div class="list-group">
        {% for file in files %}
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            {{ file.name }}
        </a>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
    {% if current_user.admin %}
        {% include 'form_errors.html.jinja' %}
        {% include 'messages.html.jinja' %}
        <a href="{{ url_for('versiones.upload_file', folder_id=folder_id) }}" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            Nuevo archivo
        </a>
    {% endif %}
{% endblock %}
{% block result %}
{% endblock %}
