{% extends "main.html.jinja" %}
{% block header %}{{ super() }} <h2>Establecimientos</h2>{% endblock %}
{% block menu %}{{ super() }}{% endblock %}
{% block content %}
    {% include 'form_errors.html.jinja' %}
    {% include 'messages.html.jinja' %}
    <div class="list-group">
        {% for establecimiento in establecimientos %}
        <a href="{{ url_for('admin.establecimientos_edit', id_establecimiento=establecimiento.id) }}" class="list-group-item">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            {{ establecimiento.name }}
        </a>
        {% endfor %}
    </div>
{% endblock %}
{% block result %}
    <a href="{{ url_for('admin.establecimientos_create') }}" class="btn btn-success">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        Nuevo
    </a>
{% endblock %}
