{% extends "layout.html.jinja" %}
{% block header %} Cambio de Contraseña {% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    {% include 'form_errors.html.jinja' %}
    {% include 'messages.html.jinja' %}
    <form action="{{ url_for('auth.change_pass') }}" method="post">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.type == "PasswordField" %}
                {% if field.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                        {{ field.label(class="control-label") }}
                        {{ field(size=50, class="form-control") }}
                    </div>
            {% endif %}
        {% endfor %}
        <button type="submit" name="submit" class="btn btn-default">
            Ingresar
        </button>
        <a href="{{ url_for('home.index') }}">Cancelar</a>
    </form>
{% endblock %}
