{% extends "layout.html.jinja" %}
{% block header %}
    Bases de Datos para restaurar
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}Elige un establecimiento para comenzar{% endblock %}
