{% extends "restaurar/index.html.jinja" %}
{% block menu %}
    {% for database in databases %}
    <a  {% if active == database.id %} class="list-group-item active"{% else %}
        class="list-group-item" {% endif %}
        href="{{ url_for('restaurar.check', id_servidor=database.id) }}">
        {{ database.name }}
    </a>
    {% endfor %}
{% endblock %}
{% block content %}
<form action="{{ url_for('restaurar.validate') }}" method="post">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.type == "StringField" %}
            <div class="form-group">
                {{ field.label(class="control-label") }}
                {% if field.name == 'db_dest' %}
                    {{ field(class="form-control") }}
                {% else %}
                    {{ field(class="form-control", readonly="readonly") }}
                {% endif %}
            </div>
        {% endif %}
        {% if field.type == "BooleanField" %}
            <div class="checkbox">
                <label for="clean_db">
                    {{ field }}
                    <strong>Eliminar y volver a crear la db de destino</strong>
                </label>
            </div>
        {% endif %}
    {% endfor %}
    <button type="submit" name="submit" class="btn btn-default">
        Validar
    </button>
    <a href="{{ url_for('restaurar.index') }}">Cancelar</a>
</form>
{% endblock %}
