{% extends "layout.html.jinja" %}
{% block header %}
    Servidores remotos
{% endblock %}
{% block menu %}
<div class="list-group">
    {% for servidor in servidores %}
    <a href="{{ url_for('monitorear.check', id_servidor=servidor.id) }}" class="list-group-item">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
        {{ servidor.name }}
    </a>
    {% endfor %}
    <a href="{{ url_for('home.index') }}" class="list-group-item">
        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
        Volver
    </a>
</div>
{% endblock %}
{% block content %}Elige un servidor para comenzar{% endblock %}
