{% extends "layout.html.jinja" %}
{% block header %}
    Sistema Interno de Administración
{% endblock %}
{% block menu %}
<div class="list-group">
    <a href="{{ url_for('admin.establecimientos_list') }}" class="list-group-item">
        Actualizar datos de establecimientos
    </a>
    <a href="{{ url_for('admin.accesos_list') }}" class="list-group-item">
        Actualizar datos de accesos
    </a>
    <a href="{{ url_for('admin.servidores_list') }}" class="list-group-item">
        Actualizar datos de servidores remotos
    </a>
    <a href="{{ url_for('admin.comandos_list') }}" class="list-group-item">
        Actualizar datos de comandos
    </a>
    <a href="{{ url_for('auth.register') }}" class="list-group-item">
        Registrar usuarios
    </a>
    <a href="{{ url_for('home.index') }}" class="list-group-item">
        Volver
    </a>
</div>
{% endblock %}
{% block content %}
    {% include 'messages.html.jinja' %}
    Elija una opción para comenzar.
{% endblock %}
{% block edit %}{% endblock %}
